.wrap_income { width: 100%; height: auto; background: #fff; }
.top { width: 100%; height: 38px; background: #fff; border-bottom: 1px solid #ccc; }
.top ul li { float: left; width: 49%; height: 38px; text-align: center; line-height: 38px; color: #666; }
.top ul li a { font-size: 14px; }
.ons a { color: #fb957c; }
.mainbox { width: 100%; height: 171px; background: #fff; border-bottom: 1px solid #ccc; }
.bz_bg { width: 165px; height: 115px; margin: 0px auto 0; // margin: 10px auto 0; }
.bz_bg img { width: 100%; height: 100%; }
.txt { width: 100%; height: 35px; line-height: 35px; text-align: center; font-size: 14px; }
.title_main { width: 100%; height: 33px; line-height: 33px; text-align: center; color: #fc967b; font-size: 30px; }

/*
.nav{
	width:100%;
	height:50px;
	position:fixed;
	left:0;
	bottom:0;
}

.nav ul li{
	width:25%;
	height:50px;
	line-height:50px;
	text-align:center;
	float:left;
	background:#fff;
}

.on a{
	color:#fb957c;
}

*/
.nav { width: 100%; height: 50px; position: fixed; left: 0; bottom: 0; }
.nav ul li { width: 50%; height: 50px; line-height: 50px; text-align: center; float: left; background: #fff; }
.on a { color: #fb957c; }
.nav li img { width: 100%; height: auto; }

/*.list_box{
	clear:both;
	width:100%;
	height:35px;
	border-bottom:1px solid #ccc;
	background:#f7f7f7;
	}
	
.left_title{
	width:200px;
	height:35px;
	float:left;
	line-height:35px;
	color:#666666;
	}
	
.right_main{
	width:60px;
	height:35px;
	line-height:35px;
	float:right;
	text-align:right;
	overflow:hidden;
	color:#d7d5d6;
	}*/
.listBox { width: 100%; height: 180px; }
.list_title { width: 100%; height: 35px; border-bottom: 1px solid #ccc; }
.list_title p { width: 90.625%; height: 35px; line-height: 35px; margin: 0 auto; color: #333; }
.list_main { width: 100%; height: 140px; border-bottom: 1px solid #ccc; background: #fafafa; }
.list_main p { width: 90.625%; height: 140px; line-height: 22px; margin: 0 auto; color: #808080; }