@charset "UTF-8";
.fund-t {
  position: relative;
  color: #626e82;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6; }

.fund-tcenter {
  text-align: center;
  width: 103%;
  left: -3%; }

/*组合列表页*/
.zuhe {
  position: relative;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  /*	.zuhe-l{float: left;width: 25%; font-size: 12px;
  		& p:nth-of-type(1){border-bottom:2px solid #c00000 ; margin-top: 20px;}
  		& p:nth-of-type(2){border-bottom:2px solid #8ece4a ; margin-top: 20px;}
  		& p:nth-of-type(3){ margin-top: 20px;}
  	}*/
  /*.zuhe-r{ float:right; width: 71%;
  	& img{ width: 100%; height: 100%; overflow: hidden; margin: 10px 0;}
  }*/ }
  .zuhe .zuhe-con {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: .9rem;
    line-height: 1.4rem;
    padding: 0 3%; }
    .zuhe .zuhe-con .zuhe-con-left {
      width: 50%;
      float: left;
      color: #000;
      line-height: 25px; }
    .zuhe .zuhe-con .zuhe-con-right {
      width: 50%;
      float: right;
      color: #000; }
    .zuhe .zuhe-con .zuhe-cont {
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0;
      display: -webkit-box; }
    .zuhe .zuhe-con .zuhe-ct {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 35%;
      font-size: 1rem;
      margin-left: 3%; }
    .zuhe .zuhe-con .zuhe-conclass {
      position: relative;
      width: 60%;
      float: right;
      font-size: .9rem; }
      .zuhe .zuhe-con .zuhe-conclass ul {
        width: 195px;
        float: right;
        height: auto;
        overflow: hidden; }
      .zuhe .zuhe-con .zuhe-conclass li {
        width: 80px;
        text-align: center;
        margin-right: 5px;
        padding: 0 5px;
        float: left;
        font-size: .8rem;
        border-radius: 3px;
        height: 20px;
        line-height: 20px; }
      .zuhe .zuhe-con .zuhe-conclass li:nth-of-type(1) {
        color: #82a1e5;
        border: 1px solid #82a1e5; }
      .zuhe .zuhe-con .zuhe-conclass li:nth-of-type(2) {
        color: #f4986b;
        border: 1px solid #f4986b; }
  .zuhe .other-shu {
    height: auto;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    overflow: hidden; }
    .zuhe .other-shu li {
      width: 50%;
      float: left; }
      .zuhe .other-shu li p:nth-of-type(1) {
        font-size: 1.5em;
        color: #fe484a; }
      .zuhe .other-shu li p:nth-of-type(2) {
        font-size: .8em;
        color: #626e82; }
    .zuhe .other-shu li:nth-of-type(2) {
      text-align: center; }
    .zuhe .other-shu li:nth-of-type(1) {
      width: 47%;
      margin-left: 3%; }
  .zuhe .zuhe-tu span:nth-of-type(2) {
    border-bottom: 2px solid #8ece4a; }
  .zuhe .zuhe-tu span:nth-of-type(1) {
    border-bottom: 2px solid #c00000; }
  .zuhe .zuhe-tu .img1, .zuhe .zuhe-tu .img2 {
    width: 100%;
    height: auto; }
  .zuhe .zuhe-tu p {
    font-size: .7rem; }

/*================*/
.zuhe-detailz {
  position: relative;
  height: 50px;
  color: #626e82;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 15px;
  line-height: 21px; }
  .zuhe-detailz p:nth-of-type(1) {
    font-size: 1rem; }
  .zuhe-detailz p:nth-of-type(2) {
    font-size: .8rem; }

.zuhe-maimai {
  position: relative;
  width: 96%;
  padding: 0 2%;
  height: auto;
  overflow: hidden; }
  .zuhe-maimai .zuhe-maimaitit {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: .8rem;
    text-align: center;
    border-bottom: 1px solid #e6e6e6; }
    .zuhe-maimai .zuhe-maimaitit li {
      float: left; }
    .zuhe-maimai .zuhe-maimaitit li:nth-of-type(1) {
      width: 35%; }
    .zuhe-maimai .zuhe-maimaitit li:nth-of-type(2) {
      width: 33%; }
    .zuhe-maimai .zuhe-maimaitit li:nth-of-type(3) {
      width: 31%; }
  .zuhe-maimai .zuhe-maimaiul {
    position: relative; }
    .zuhe-maimai .zuhe-maimaiul li {
      height: 60px;
      border-bottom: 1px solid #e6e6e6;
      padding-top: 10px; }
    .zuhe-maimai .zuhe-maimaiul .zuhe-mai {
      position: relative;
      top: 10px;
      float: left;
      width: 25px;
      line-height: 25px;
      text-align: center;
      font-size: .8rem;
      height: 25px;
      border-radius: 25px;
      color: #fff; }
    .zuhe-maimai .zuhe-maimaiul .zuhe-name {
      float: left;
      font-size: .8rem;
      position: relative;
      margin-left: 10px;
      line-height: 23px; }
    .zuhe-maimai .zuhe-maimaiul .zuhe-fen {
      float: right;
      font-size: .8rem;
      line-height: 23px;
      color: #fe484a; }
    .zuhe-maimai .zuhe-maimaiul .zuhe-num {
      font-size: 12px;
      color: #959da9; }
    .zuhe-maimai .zuhe-maimaiul .zuhe-numr {
      font-size: 12px;
      color: #959da9;
      text-align: right; }
    .zuhe-maimai .zuhe-maimaiul dl {
      height: auto;
      width: 100%;
      overflow: hidden;
      font-size: .8rem; }
    .zuhe-maimai .zuhe-maimaiul dd {
      float: left;
      position: relative; }
    .zuhe-maimai .zuhe-maimaiul dd:nth-of-type(1) {
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left; }
    .zuhe-maimai .zuhe-maimaiul dd:nth-of-type(2) {
      width: 15%;
      line-height: 23px;
      color: red; }
    .zuhe-maimai .zuhe-maimaiul dd:nth-of-type(3) {
      width: 35%;
      line-height: 50px; }
  .zuhe-maimai .zm .zuhe-mai {
    background-color: #fe484a; }
  .zuhe-maimai .zm .zuhe-name {
    color: #fe484a; }
  .zuhe-maimai .zm .zuhe-fen {
    color: #fe484a; }
  .zuhe-maimai .z .zuhe-mai {
    background-color: #09c990; }
  .zuhe-maimai .z .zuhe-name {
    color: #09c990; }
  .zuhe-maimai .z .zuhe-fen {
    color: #09c990; }

.zuhefetail-con {
  position: relative;
  color: #959da9;
  padding: 0 2%;
  width: 96%; }
  .zuhefetail-con .zuhedetail-img {
    width: 100%;
    height: 120px;
    position: relative;
    /*background-size:contain; background-image: url(../images/rund.png); background-position: center;background-repeat: no-repeat;*/
    margin: 10px 0; }
  .zuhefetail-con .zuhedetail-contit {
    height: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e6e6e6; }
    .zuhefetail-con .zuhedetail-contit li {
      float: left;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: .9rem; }
    .zuhefetail-con .zuhedetail-contit li:nth-of-type(1) {
      width: 38%; }
    .zuhefetail-con .zuhedetail-contit li:nth-of-type(2) {
      width: 20%; }
    .zuhefetail-con .zuhedetail-contit li:nth-of-type(3) {
      width: 25%; }
    .zuhefetail-con .zuhedetail-contit li:nth-of-type(4) {
      width: 17%; }
  .zuhefetail-con .zihedetail-conul {
    height: auto;
    position: relative;
    /*& a{ width: 100%; height: 100%; display: block;}*/ }
    .zuhefetail-con .zihedetail-conul li {
      height: 50px;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      position: relative;
      font-size: .8rem; }
      .zuhefetail-con .zihedetail-conul li dl {
        height: auto;
        width: 100%;
        overflow: hidden;
        font-size: .8rem;
        /*padding-top: 5px;*/ }
      .zuhefetail-con .zihedetail-conul li dd {
        float: left;
        position: relative; }
        .zuhefetail-con .zihedetail-conul li dd p:nth-of-type(1) {
          margin-top: -7px; }
      .zuhefetail-con .zihedetail-conul li dd:nth-of-type(1) {
        width: 30%;
        padding-left: 8%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left; }
      .zuhefetail-con .zihedetail-conul li dd:nth-of-type(2) {
        width: 20%;
        line-height: 50px;
        color: red; }
      .zuhefetail-con .zihedetail-conul li dd:nth-of-type(3) {
        width: 25%;
        line-height: 50px;
        text-align: right; }
      .zuhefetail-con .zihedetail-conul li dd:nth-of-type(4) {
        width: 17%;
        line-height: 50px; }
    .zuhefetail-con .zihedetail-conul .zuhe-detfk {
      width: 15px;
      height: 15px;
      left: -20px;
      top: 17px;
      position: relative;
      display: block; }
    .zuhefetail-con .zihedetail-conul .color1 {
      background-color: #439cde; }
    .zuhefetail-con .zihedetail-conul .color2 {
      background-color: #43c6de; }
    .zuhefetail-con .zihedetail-conul .color3 {
      background-color: #f34f91; }
    .zuhefetail-con .zihedetail-conul .color4 {
      background-color: #ee970d; }
    .zuhefetail-con .zihedetail-conul .color5 {
      background-color: #436bde; }
    .zuhefetail-con .zihedetail-conul li:nth-of-type(1) dd:nth-of-type(1) .zuhe-detfk {
      background-color: #439cde; }
    .zuhefetail-con .zihedetail-conul li:nth-of-type(2) dd:nth-of-type(1) .zuhe-detfk {
      background-color: #43c6de; }
    .zuhefetail-con .zihedetail-conul li:nth-of-type(3) dd:nth-of-type(1) .zuhe-detfk {
      background-color: #f34f91; }
    .zuhefetail-con .zihedetail-conul li:nth-of-type(4) dd:nth-of-type(1) .zuhe-detfk {
      background-color: #ee970d; }
    .zuhefetail-con .zihedetail-conul li:nth-of-type(5) dd:nth-of-type(1) .zuhe-detfk {
      background-color: #436bde; }

.fund-biaoxian {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6; }

/*.other-title{ text-align: left; text-indent: 1rem; font-size: .9rem;}*/
.fund-rose {
  background-color: #fff;
  padding-bottom: 10px; }
  .fund-rose .zuhef-con {
    font-size: .8rem; }

#tab_menu {
  position: relative; }

.fund-shu {
  padding-left: 5px;
  padding-right: 5px; }

/*===============================区分开样式用=============================*/
/*趋势图样式*/
#tab_menu {
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e6e6e6; }

#tab_menu li {
  float: left;
  text-align: center;
  cursor: pointer;
  margin-left: -1px;
  width: 25%;
  position: relative;
  font-weight: bold;
  font-size: .95rem;
  border-right: 1px solid #e6e6e6; }

#tab_box {
  height: 240px;
  clear: both; }

#tab_menu li.selected {
  background: #ff0000;
  color: #fff; }

.main {
  position: fixed;
  top: 45px;
  bottom: 0;
  width: 100%;
  overflow: scroll; }

.fund-trend {
  height: 240px;
  padding-bottom: 30px;
  padding-right: 3%; }
